<template>
<div class="row d-flex justify-content-center container">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
            </div>
            <form @submit="addNewTask" class="input-group mb-3">
              <input type="text" class="form-control" v-model="taskTitle" placeholder="Task Title" aria-label="Task Title" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button type="submit" class="btn btn-success">Add</button>
              </div>
            </form>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" :class="status == 1 ? 'btn btn-warning active' : 'btn btn-warning'" @click="filterStatus(1)">Active ({{ countStatusActive }})</button>
              <button type="button" :class="status == 2 ? 'btn btn-success active' : 'btn btn-success'" @click="filterStatus(2)">Completed ({{ countStatusCompleted }})</button>
            </div>
            <div class="scroll-area-sm">
              <div style="position: static;" class="ps ps--active-y">
                  <div class="ps-content">
                      <ul class=" list-group list-group-flush">
                          <li class="list-group-item" v-for="(data, index) in datas" :key="data.id">
                              <div class="todo-indicator" :class="data.status == 1 ? 'bg-warning' : 'bg-success'"></div>
                              <div class="widget-content p-0">
                                  <div class="widget-content-wrapper">
                                      <div class="widget-content-left mr-2">
                                          <div class="custom-checkbox custom-control"> <input class="custom-control-input" v-on:click="change(data.id, index, $event)" :value="data.id" :id="'exampleCustomCheckbox'+data.id" type="checkbox"><label class="custom-control-label" :for="'exampleCustomCheckbox'+data.id">&nbsp;</label> </div>
                                      </div>
                                      <div class="widget-content-left">
                                          <div class="widget-heading">{{ data.title }} <div class="badge badge-danger ml-2"></div>
                                          </div>
                                          <div class="widget-subheading"><i>{{ data.status == 1 ? 'Active' : 'Completed' }}</i></div>
                                      </div>
                                      <div class="widget-content-right"> 
                                        <button class="border-0 btn-transition btn btn-outline-danger" @click="deleteData(data.id)"> Delete</button> 
                                        <button class="border-0 btn-transition btn" :class="data.status == 1 ? 'btn-outline-success' : 'btn-outline-warning'" @click="update(data.id, data.status == 1 ? 2 : 1)"> {{ data.status == 1 ? 'Completed' : 'Active' }} 
                                        </button> 
                                        </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
            <div class="d-block text-right card-footer">
              <button class="mr-2 btn btn-link btn-sm" @click="clear">Clear</button>
              <button class="btn btn-danger" @click="deleteBulkData">Delete Task</button>
              <button class="btn btn-success" @click="updateBulkData(1)">Completed Task Active</button>
              <button class="btn btn-warning" @click="updateBulkData(2)">Actived Task Completed</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  layout: 'custom',
  name: 'IndexPage',
  data() {
    return {
      datas : Array,
      taskTitle: '',
      status: '',
      countStatusActive: '',
      countStatusCompleted: '',
      ids:[]
    }
  },
  mounted(){
    this.getDataTask();
    this.countData();
  },
  methods:{
    clear() {
      this.status = '';
      this.taskTitle = '';
      this.getDataTask();
    },
    filterStatus(status) {
      this.status = status
      this.getDataTask(); 
    },
    change(id, index, event) {
      if (event.target.checked) {
        this.ids.push(id);
      } else {
        this.ids.forEach((data, index) => {
          if (data == id) {
            this.ids.splice(index, 1);
          }
        });
      }
    },
    deleteBulkData(){
      let data = {
        ids : this.ids,
      }
      
      this.$axios.$post('/api/task/delete-bulk', data).then((res) => {
        this.status = '';
        this.taskTitle = '';
        this.getDataTask();
        this.countData();
      });
    },
    async deleteData(id){
      this.$axios.$delete('/api/task/delete/'+id).then((res) => {
        this.status = '';
        this.taskTitle = '';
        this.getDataTask();
        this.countData();
      });
    },
    async getDataTask() {
      let data = {
        status : this.status,
      }

      await this.$axios.$post('/api/task', data).then((res) => {
        this.datas = res.data
      });
    },
    
    async addNewTask(evt) {
      evt.preventDefault();

      let data = {
        title : this.taskTitle,
      }
      
      this.$axios.$post('/api/task/store', data).then((res) => {
        this.getDataTask();
        this.countData();
        this.taskTitle=''
      });
    },
    async countData() {
      await this.$axios.$post('/api/task/count').then((res) => {
        this.countStatusActive = res.active;
        this.countStatusCompleted = res.completed;
      });
    },
    async updateBulkData(status) {
      let data = {
        status : status,
      }

      this.$axios.$put('/api/task/update-bulk', data).then((res) => {
        this.getDataTask();
        this.countData();
      });
    },
    async update(id, status) {
      let data = {
        id : id,
        status : status
      }

      this.$axios.$put('/api/task/update', data).then((res) => {
        this.getDataTask();
        this.countData();
      });
    }
  }
}
</script>
